<% provide(:title, 'home') %>
<div class="center jumbotron">
  <h1>INSTABOON!!!!!</h1>
  <p>~思い出の宝石箱~</p>

  

  <%= link_to "新規登録", '/users/new', class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>

