<% provide(:title, 'Sign up') %>
<h1>新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(@user,url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :パスワード再入力 %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "アカウントを作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>