<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <article class="user_info">
        <%= gravatar_for @user %>
        <%= @user.name %>
         <section class="stats">
           <%= render 'shared/stats' %>
         </section>
        <% if logged_in? %>
          <%= link_to "編集", edit_user_path(current_user) %>
        <% end %>
    </article>
  </aside>
</div>